html {
    background-color: #1e1e1e;
    color: #ce9178;
}

.header {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
}

html h1 {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #daba7b;
}

html h2 {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #daba7b;
}

/*********************** Table ***********************/
.table {
    position: fixed;
    margin-top: 110px;
    border-collapse: collapse;
    border-bottom-style: none;
    border-color: #017575;
}

.table th {
    position: relative;
}

.tabe td {
    color: black;
}

.resizer {
    border-right: 4px solid #daba7b;
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    cursor: col-resize;
    user-select: none;
}

.resizer:hover,
.resizing {
    border-right: 4px solid #daba7b;
}

.resizable {
    border: 1px solid gray;
    height: 100px;
    width: 100px;
    position: relative;
}

.slider {
    background: url("../images/drag-vertical-variant.svg");
    height: 20px;
    width: 20px;
    display: block;
    position: fixed;
    top: 50%;
    margin: 0 auto;
    border: 2px solid #daba7b;
    background-color: antiquewhite;
    border-radius: 5px;
    transform: translateX(-20%);
}

/*********************** Menu ***********************/
/* Dropdown Button */
.dropbtn {
    background: url("../images/menu_black_24dp.svg");
    cursor: pointer;
    transition: .2s;
    height: 20px;
    width: 20px;
    color: #daba7b;

    border: none;
    font-weight: bold;
    display: inline-block;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #ce9178;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: .3s;
    cursor: pointer;
}

.sub-menu-item {
    display: none;
    background-color: #ccc;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover,
.dropdown-content a:active,
.dropdown-content a:focus {
    background-color: #ddd
}

.sub-menu-item a:hover,
.sub-menu-item a:active,
.sub-menu-item a:focus {
    background-color: #bbb
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/* Checkboxes */
.lang-input-box {
    text-align: center;
    position: relative;
}

.lang-check {
    display: inline-block;
    /* padding-right: 100px; */
    margin-right: 2px;
}