* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.header-title {
    font-size: 24px;
    margin: 0.2em;
    text-align: center;
    left: 0;
    right: 0;
}

@media screen and (min-width: 50vw) {
    .header-title {
        font-size: 42px;
    }
}

.header-left {
    display: flex;
}

.header-right {
    display: flex;
}

/* Navigation */

button.icon {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0 4px;
}

/* Animations */

@keyframes fade {
    0%  {
        opacity: 0;
        height: 1em;
        width: 160px;
    }

    50%  {opacity: 1;}

    100% {
        visibility: hidden;
        opacity: 0;
        width: 0;
        height: 0;
    }
}

/* Modals */


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.end-modal-content {
    margin: 3em auto 0 auto;
    max-width: 450px;
    background-color: white;
    text-align: center;
    padding: 15px;
}

.info-modal-content {
    margin: 3em auto 0 auto;
    max-width: 450px;
    background-color: white;
    text-align: left;
    padding: 15px;
}

.modal-exit {
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

body {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    background-color: #fff;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    overflow: auto;
}

h1 {
    color: #323330;
}

ul{
    margin-left:20px;
}

.drop-targets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.box {
    height: 52px;
    width: 9vw;
    border: solid 3px #ccc;
    margin: 7px;

    /* align items in the box */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.results-box {
    width: 24vw;
    height: 100vh;
    overflow: auto
}

.ui-state-hover {
    border: dashed 3px red;
}

.item {
    text-align: center;
    color: #eee;
    font-size: 14px;
    margin: 2px;
    padding: 4px;
    width: 8vw;
    height: 43px;
    border: 1px solid #444;
    /*box-shadow: 0 0.2em 0 0.05em #222;*/
    border-bottom-color: #555;
}

/*.item {*/
/*}*/

.hide {
    display: none;
}
.keyboard {
    text-align: center;
    font-size: 34px;
    font-family: sans-serif;
}

.keyboard__row {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    row-gap: 100px;
    justify-content: center;
}
.keyboard__row > * {
    position: relative;
    background: #333;
    text-align: center;
    color: #eee;
    float: left;
    border-radius: 0.3em;
    margin: 2px;
    padding: 4px;
    width: 8vw;
    height: 43px;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
}


.keyboard__row > div[data-pressed],
.keyboard__row > div:active {
    background: #2a2a2a;
    color: black;
    position: relative;
    top: 0.2em;
    box-shadow: 0 0 0 0.05em dimgrey;
    font-size: large;
    font-weight: bold;
}


.key--letter {
    line-height: 2.8em;
}

.key--special {
    font-size: 30px;
    position: relative;
    text-align: center;
    width: 60vw;
}

.big-button {
    flex: 1.5;
    width: 10vw;
}

.big-button img {
    width: 8vw;
    max-width: 43px;
}

